<!-- NECESARIOS BOOTSTRAP -->
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/login-reg.js"></script>

<!-- MUESTRA TOOLTIP BOOTSTRAP -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!-- `RAMON JS -->
<script src="/js/ventas.js"></script>

</body>

</html>