<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ferreteria Don Castro</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="">
        <nav class="navbar bg-navbar fixed-top">
            <div class="container-fluid">
                <div class="ml-auto text-white align-middle py-2">
                    <span class="h4 align-middle">Bienvenido,&nbsp</span>
                    <span class="h4 pr-2 align-middle">Alex</span>
                    <div class="dropdown d-inline">
                        <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><img class="img-nav-user rounded img-thumbnail align-middle"
                                src="/img/user.jpg" alt="Image not found"
                                onerror="this.onerror=null;this.src='/img/default-user.png';" width="30px"
                                height="30px"></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>