<div id="mySidenav" class="sidenav">
    <div class="logo text-center">
        <img height="90%" src="/img/logo.png" alt="">
    </div>
    <% if (user.admin == true) {%>
    <a href="#" class="mt-2 mb-2">
        <li class="fa fa-chart-bar"></li>&nbsp;Estadisticas
    </a>
    <% } %>
    <a href="/" class=" my-2">
        <li class="fa fa-money-check"></li>&nbsp;Ventas
    </a>
    <a href="/clientes" class=" my-2">
        <li class="fa fa-user-friends"></li>&nbsp;Clientes
    </a>
    <a href="/productos" class=" my-2">
        <li class="fa fa-capsules"></li>&nbsp;Productos
    </a>
    <% if (user.admin == true) {%>
    <div class="my-auto" style="position:absolute;bottom:5px;">
        <a href="/register" class=" my-2">
            <li class="fa fa-user-plus"></li>&nbsp;Registrar
        </a>
    </div>
    <% } %>
</div>