<% include header %>

<<<<<<< HEAD
<div class="component">
    <canvas id="myChart"></canvas>
=======
<% include menu-left %>

<div class="component">
    <div class="container">
        <input type="button" name="d" id="d" value="sdsd">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">
                            Total Ventas
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Total Compras
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-8">
                            <p class="card-title">
                                Total Ganancias
                            </p>
                            <h2>254k</h2>
                        </div>
                        <div class="col-4">
                            <li class="fa fa-money-check-alt text-primary" style="font-size-adjust: 50px;"></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card p-4">
                <canvas id="myChart" height="100px" width="auto"></canvas>
            </div>
        </div>
    </div>
>>>>>>> c97c2ee50bccf9fe8f1ed05bdbb7b82fcd2d2b6d
</div>

<% include footer %>